.title {
  -fx-font-size: 24px;
}

.side-column {
  -fx-padding: 25px;
  -fx-background-color: #ededed;  

}

.main-column {
  -fx-padding: 25px;
  -fx-background-color: #ffffff;
  -fx-alignment: baseline-center;
}

.lobby-list {
  -fx-padding: 25px;
}