.title {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}

.post-game-wrapper {
    -fx-padding: 15px;
}

.leader-vbox {
    -fx-spacing: 15px;
    -fx-padding: 15px;
}

.player-name {
    -fx-fill: black;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.player-hbox {
    -fx-background-color: rgb(255,255,205);
    -fx-padding: 15px;
    -fx-background-radius: 10px;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-border-radius: 10px;
    -fx-spacing: 10px;
}

.favor-token {
    -fx-fill: white;
    -fx-stroke-width: 1;
    -fx-stroke: black;
}

.favor-token-text {
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.tool-card-hbox {
    -fx-spacing: 10px;
    -fx-background-color: red;
}